<!DOCTYPE html>
<html>
<head>
    <title>社团用户</title>
    <#include "/header.html">
        </head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="社团名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-2 control-label">id</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.id" placeholder="id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.name" placeholder="活动名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">社团名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.club" placeholder="社团名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">场地</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.place" placeholder="场地"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动开始时间</div>
                <div class="col-sm-10">
                    <input type="date" class="form-control" v-model="stCactivityApply.starttime" placeholder="活动开始时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动结束时间</div>
                <div class="col-sm-10">
                    <input type="date" class="form-control" v-model="stCactivityApply.endtime" placeholder="活动结束时间"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动类型</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.sort" placeholder="活动类型"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">活动介绍</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.dc" placeholder="活动介绍"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">注意事项</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="stCactivityApply.matters" placeholder="注意事项"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>
<script src="${request.contextPath}/statics/js/modules/sys/stCactivityApplyAudit.js?_${.now?long}"></script>
<script type="text/javascript">
        function modify(obj) {
            var url = "sys/stCactivityApply/auditById";
            $.ajax({
                "type" : 'get',
                url: baseURL + url,
                "dataType" : "json",
                "data" : {id:obj,state:"同意"},
                "success" : function(data) {
                    if(data.code === 0) {
                        alert("操作成功")
                        vm.reload();
                    }
                }
            });
        }

    function modify2(obj) {
        var url = "sys/stCactivityApply/auditById";
        $.ajax({
            "type" : 'get',
            url: baseURL + url,
            "dataType" : "json",
            "data" : {id:obj,state:"拒绝"},
            "success" : function(data) {
                if(data.code === 0) {
                    alert("操作成功");
                    vm.reload();
                }
            }
        });
    }
</script>


</body>
</html>